root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,jsx,ts,tsx}]
indent_size = 2
indent_style = space

[*.{ex,eex,exs}]
indent_size = 2
indent_style = space

[Makefile]
indent_size = 2
indent_style = tab

